html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
<<<<<<< HEAD
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
  }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
=======
  font-family: sans-serif;
  background-color: aqua;
}
>>>>>>> a32b2911586312a3ac2aa1350fa4b69202249fcf
